{erl_opts, [debug_info]}.
{deps, [
    {simple_bridge, {git, "https://github.com/nitrogen/simple_bridge", {branch, master}}},
    {nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core", {branch, master}}},
    {nprocreg, {git, "https://github.com/nitrogen/nprocreg", {branch, master}}},
    {simple_cache, {git, "https://github.com/nitrogen/simple_cache", {branch, master}}},
    {erlpass, {git, "https://github.com/ferd/erlpass", {branch, master}}}
]}.

{relx, [
    {release, {hello_http_server, "0.1.0"}, [
        hello_http_server,
        sasl
    ]},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [hello_http_server]}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                {include_erts, true},
                {system_libs, true}
            ]}
    ]},
    {dev, [
        {deps, [
            {mimetypes, {git, "https://github.com/spawngrid/mimetypes", {branch, master}}},
            {sync, {git, "https://github.com/rustyio/sync", {branch, master}}}
        ]}
    ]}
]}.
