% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
% ex: ft=erlang ts=4 sw=4 et

{pre_hooks, [
    {"(linux)", compile, "make -C c_src"}
]}.
{post_hooks, [
    {"(linux)", clean, "make -C c_src clean"}
]}.

{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {hello_erlang_interoperability, "0.1.0"},
         ['hello-erlang-interoperability',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},
        {system_libs, true},

        {extended_start_script, true},
        {generate_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {system_libs, true}
                           ]}]
            }]
}.
